/* 
	Pre Style 
*/
*, *:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/*
  Base Element Styles
*/
body {
	font-family: 'Varela Round', sans-serif;
	font-size: 1em;
	background-color: #AFDBF5;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}
a {
	text-decoration: none;
}

/*
	Base Layout Styles
*/


/* 
	Main Nav Styles
*/
.site-name {
	font-size: 1.35em;
	margin: 0;
}
.main-nav {
	margin-top: 5px;
}
.main-header,
.main-header span,
.main-nav,
.main-nav li {
	display: flex;
	padding: .25em;
	background-color: #6CB4EE;
	text-transform: uppercase;
	align-items: center;
}
.main-header, 
.main-nav,
.main-nav li {
	flex-direction: column;
	align-items: center;
}

/* 
	Table
*/
.table-container {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}
.table-row {
	display: flex;
	flex-grow: 1;
}
.table-row-content {
	display: flex;
	flex-grow: 1;
}

.table-column {
	flex-grow: 1;
}
.table-column-1,
.table-column-2,
.table-column-3,
.table-column-4,
.table-column-5,
.table-column-6,
.table-column-7,
.table-column-8,
.table-column-9,
.table-column-10,
.table-column-11,
.table-column-12 {
	display: flex;
	flex-grow: 1;
	
}

.table-column-1 {
	-ms-flex: 0 1 8.33%;
	flex: 0 1 8.33%;
}
.table-column-2 {
	-ms-flex: 0 1 16.67%;
	flex: 0 1 16.67%;
}
.table-column-3 {
	-ms-flex: 0 1 25%;
	flex: 0 1 25%;
}
.table-column-4 {
	-ms-flex: 0 1 33.33%;
	flex: 0 1 33.33%;
}
.table-column-5 {
	-ms-flex: 0 1 41.67%;
	flex: 0 1 41.67%;
}
.table-column-6 {
	-ms-flex: 0 1 50%;
	flex: 0 1 50%;
}
.table-column-7 {
	-ms-flex: 0 1 58.33%;
	flex: 0 1 58.33%;
}
.table-column-8 {
	-ms-flex: 0 1 66.67%;
	flex: 0 1 66.67%;
}
.table-column-9 {
	-ms-flex: 0 1 75.00%;
	flex: 0 1 75.00%;
}
.table-column-10 {
	-ms-flex: 0 1 83.33%;
	flex: 0 1 83.33%;
}
.table-column-11 {
	-ms-flex: 0 1 91.67%;
	flex: 0 1 91.67%;
}
.table-column-12 {
	-ms-flex: 0 1 100%;
	flex: 0 1 100%;
}

.table-data {
	width:100%;
	height:100%;
}


/* 
	Tools
*/
.debug {
	border: .125em solid red;
}

/* 
	Input Transaction Specific
*/

.trans-title {
	margin: 0;
	text-align: center;
}

/*
.trans-type-row,
.trans-row-amount {
}
*/
.transaction-row {
	margin-top: 1em;
	border-bottom: .125em solid black;
}
.transaction-row-content {
	padding-left: .5em;
	padding-right: .5em; 
}
.trans-expense,
.trans-income {
	font-size: 2em;
	width: 100%;
	height: 100%;
	padding-top: .4em;
	padding-bottom:.4em;
}
.trans-input,
.trans-input-amount {
	width:100%;
	border: 0;
}
.trans-input {
	font-size: 1em;
	height: 1.5em;
}
.trans-row-amount-title {
	border:0;
}
.trans-input-amount {
	font-size: 3em;
	text-align: right;
}

.finalizing-row {
	height:4em;
}

.finalizing-data button {
	padding: 0;
	margin: 0;
	font-size: 3em;
}
.transaction-footer {
	position: fixed;
	bottom: 0;

}

/* 
	Media Queries
*/
/* Small */
@media (min-width:600px) {
	/* 
	Main Nav 
	*/
	.main-header,
	.main-nav {
		display: flex;
	}
	.main-header {
		flex-direction: column;
		align-items: center;
	}
	.main-nav {
		flex-direction: row;
	}
	/* 
		Content 
	*/
	.main-content {
		margin-left: auto;
		margin-right: auto;
	}
}
/* Medium */
@media (min-width:769px) {
	/* 
		Main Nav 
	*/
	.main-nav {
		flex-direction: row;
	}
	/* 
		Content 
	*/
	.main-content {
		width: 85%;
		margin-left: auto;
		margin-right: auto;
	}
}
/* Large */
@media (min-width: 1025px) {
	.main-header {
		flex-direction: row;
		justify-content: space-between;
	}
	/* 
		Content 
	*/
	.main-content {
		width: 70%;
	}
}
/* Extra Large */
@media (min-width: 1301px) {
	.main-content {
		width: 60%;
	}
}


/* 
	---- Float clearfix ---- 
*/

.clearfix::after {
	content: "";
	display: table;
	clear: both;
}