/* 
	Input Transaction Specific
*/
/*
.main-content {
    background-color:#c1e1ec;
    border-radius: 1rem;
    margin: auto;
    padding: .75rem;
}
.transaction-container {
    background-color:#c1e1ec;
    padding: .75rem;
}
.trans-title {
	margin: 0;
	text-align: center;
}

*/
/*
.trans-type-row,
.trans-row-amount {
}
*/

.transaction-row {
	margin-top: 1em;
	border-bottom: .125em solid black;
}
.transaction-row-content {
	padding-left: .5em;
	padding-right: .5em; 
}

label.trans-type-button {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 2em;
	width: 100%;
	height: 100%;
	text-align: center;
	color: #333333;
	background-color: #5bc0de;
    box-shadow: 0px 0px 0px transparent;
    border: 1px solid lightgrey;
	text-shadow: 0px 0px 0px transparent;
	border-radius: 1rem;
}

input.trans-type-radio {
	display: none;
}
input.trans-type-radio[type="radio"]:checked + label {
	background-color: aqua;
}
input.trans-type-radio[type="radio"]:checked + label:hover {
	background-color: aqua;
}
input.trans-type-radio[type="radio"] + label:hover {
	background-color: aqua;
}

.trans-type-row,
.trans-type-row-content,
.trans-type-column,
.trans-type-data {
	height: 4rem;
}

.trans-input,
.trans-input-amount {
	width:100%;
	border: 0;
}
.trans-input {
	font-size: 1em;
	height: 1.5em;
}
.trans-field-valid {
	border: 1px solid #5cb85c;
}
.trans-field-invalid {
	border: 1px solid #f0ad4e;
}
.trans-row-amount-title {
	border:0;
}
.trans-input-amount {
	font-size: 3em;
	text-align: right;
}

.finalizing-row {
	height:4em;
}

.finalizing-data button {
	padding: 0;
	margin: 0;
	font-size: 3em;
}
.transaction-footer {
	position: fixed;
	bottom: 0;
}
.finalizing-data button {
	width: 100%;
	color: #FFF;
}
.finalizing-data button:disabled,
.finalizing-data button[disabled] {
	width: 100%;
	color: #666;
}
.finalizing-data button.trans-cancel {
	background-color: #d9534f;
	border-radius: 1rem;
}
.finalizing-data button.trans-submit {
	background-color: #5cb85c;
	border-radius: 1rem;
}
.finalizing-data button.trans-cancel:hover {
	border: 1px solid #d9534f;
}
.finalizing-data button.trans-submit:hover {
	border: 1px solid #5cb85c;
}
.finalizing-row {
	margin-top: .75rem;
}
.finalizing-content {
	justify-content: space-between;
}

/* 
	Media Queries
*/
/* Small */
@media (min-width:600px) {
	/* 
		Content 
	*/
	.transaction-container {
		border-radius: 1rem;
		margin: 1rem;
	}
}
/* Medium */
@media (min-width:769px) {
	/* 
		Content 
	*/
}
/* Large */
@media (min-width: 1025px) {
	/* 
		Content 
	*/
}
/* Extra Large */
@media (min-width: 1301px) {
	/* 
		Content 
	*/
}