/* 
	View Transaction Specific
*/
.table-header {
    border-bottom: 1px solid #99cfe0;
    text-align: center;
}
.vt-container {
    background-color:#fff;
    margin-top: 1rem;
	padding: .75rem;
    justify-content: center;
}
.vt-container .row-content {
    justify-content: center;
}
.vt-container .row {
	margin-top: .5rem;
    justify-content: center;
}
.vt-container .data {
	/*border: 1px solid #000;*/
    justify-content: center;
}
.vt-container .title {
	font-weight: bold;
}

.number-data {
    text-align: right;
}
.vt-container .table-footer {
	border-top: 1px solid #d4ebf2;
	margin-top: 1.25rem;
    padding-top: .5rem;
}

/* 
	Media Queries
*/
/* Small */
@media (min-width:600px) {
	/* 
		Content 
	*/
}
/* Medium */
@media (min-width:769px) {
	/* 
		Content 
	*/
}
/* Large */
@media (min-width: 1025px) {
	/* 
		Content 
	*/
}
/* Extra Large */
@media (min-width: 1301px) {
	/* 
		Content 
	*/
}